:root {
    --navbar-background-color: #262626;
    ---navbar-text-color: #fff;
    --nav-link-hover-bg-color: dodgerblue;
    --hamburger-bar-color: rgb(100, 100, 100);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--navbar-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    list-style: none;
}

a {
    color: var(---navbar-text-color);
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-text {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: var(--nav-link-hover-bg-color);

}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;        /* Forming the "bars" of the hamburger menu. This is a slightly modified layout from  "https://www.w3schools.com/howto/howto_css_menu_icon.asp"*/
    height: 3px;        /*I'll be adding animation, but the one from the linked page doesn't quite look right so I'll be trying a few things with that */
    margin: 5px auto;
    background-color: var(--hamburger-bar-color);
}



@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    /*The above section of code will hide the second bar and move rotate the other two by 45°, making the "X" when it is given the class "active" by js.*/
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

}